# Node
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*.local

# Build output
dist/
build/
coverage/

# VSCode
.vscode/

# Mac
.DS_Store

# Misc
*.local
.idea/
*.swp

# Prisma
prisma/dev.db

# Docker
docker-compose.override.yml

# Ignore system files
Thumbs.db
